/* ESS font style definitions.
 */

@import url("#{resource['primefaces-ess-theme:fonts/titillium/stylesheet.css']}");

@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bolditalic_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bold_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_extrabolditalic_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_extrabold_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_italic_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_lightitalic_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_light_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_regular_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibolditalic_macroman/stylesheet.css']}");
@import url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibold_macroman/stylesheet.css']}");

.gui-title {
    font-family: 'TitilliumRegular';
    font-size: 33px;
    color: white;
}

.normal {
    font-family: 'open_sansregular';
    font-size: 16px;
    color: black;
}

.normal-bold {
    font-family: 'open_sansbold';
    font-size: 16px;
    color: black;
}

.small-text {
    font-family: 'open_sansregular';
    font-size: 12px;
    color: black;
}

.help-text {
    font-family: 'open_sansregular';
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.group-panel-title {
    font-family: 'open_sanssemibold';
    font-size: 25px;
    color: black;
}

.big-pv {
    font-family: 'open_sanssemibold';
    font-size: 25px;
    color: black;
}
