@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.eot']}");
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.eot?']}#iefix") format('embedded-opentype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.woff']}") format('woff'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.ttf']}") format('truetype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.svg']}#open_sanssemibold_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}

