@font-face {
    font-family: 'open_sanslight_italic';
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.eot']}");
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.eot?']}#iefix") format('embedded-opentype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.woff']}") format('woff'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.ttf']}") format('truetype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.svg']}#open_sanslight_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}

