@font-face {
    font-family: 'open_sansbold';
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.eot']}");
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.eot?']}#iefix") format('embedded-opentype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.woff']}") format('woff'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.ttf']}") format('truetype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.svg']}#open_sansbold") format('svg');
    font-weight: normal;
    font-style: normal;

}

