@import url('fonts.css');

/* ESS prime faces theme.
 */

/* JQUERY_UI_PLACEHOLDER */

/* JQuery UI general customization.
 */
 
/* Used colors:

darkblue2   #00415a
darkblue    #00698c
blue        #0094ca

dark_cyan   #41b9e6
cyan        #7de1ff

grey        #969696
light_grey  #dddddd
light_grey2 #eeeeee
white       #ffffff
*/ 
 
 /* Body.
 */
 body {
    overflow: hidden;
    margin: 0px;
}
 
 
/* Input Field.
 */
.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
    background-color: #ffffff; /* Default: #0094ca */
    color: #00415a; /* Default: #ffffff */
    -moz-box-shadow: inset 0 1px 1px #969696;
    -webkit-box-shadow: inset 0 1px 1px #969696;
    box-shadow: inset 0 1px 1px #969696;
}

/* Data Table.
 */
.ui-datatable .ui-datatable-odd {
    background-color: #eeeeee; /* Default: #ffffff */
}
.ui-datatable .ui-datatable-odd.ui-state-hover {
    background-color: #41b9e6;
}
.ui-datatable .ui-datatable-odd.ui-state-highlight {
    background-color: #7de1ff;
}
.ui-datatable .ui-widget-header .ui-state-default {
    border-color: #00698c; /* Default: #0094ca */
}
.ui-datatable .ui-widget-header .ui-state-active {
    background-color: #7de1ff; /* Default: #ffffff */
	border-color: #7de1ff; /* Default: #ffffff */
}
.ui-datatable .ui-widget-content {
    border-color: #dddddd;
}
.ui-widget-header .ui-state-default .ui-column-filter {
	background: #ffffff;
    color: #00415a;
}
.ui-datatable td{
	padding: 0.2em !important; /* Overrides primefaces element style. */
}



/* Pop up.
 */
 
 .ui-growl-item-container {
	 background: #ffffff;
 }

/* Accordion.
 */
.ui-accordion-header {
	background-color: #00698c !important;
    color: #ffffff !important;
	border: none !important;
}

.ui-accordion .ui-panel-content{
	overflow: hidden;
}

.ui-state-active .ui-icon-triangle-1-s {
	background-image: url("#{resource['primefaces-ess-theme:images/ui-icons_ffffff_256x240.png']}");
}

.ui-accordion .ui-datatable thead th{
	width: auto !important;  /* Overrides style that is applied with javascript. */
}


/* Tree Table.
 */
.ui-treetable tr {
    border-color: #dddddd;
}

/* Dropdowns.
 */
select .ui-widget-content .ui-state-default,
.ui-autocomplete-dropdown .ui-state-default {
    border-color: #00698c; /* Default: #0094ca */
}

/* Checkbox.
 */
.ui-chkbox-icon {
	background-color: #ffffff;
}

/* Buttons.
 */
.ui-fieldset-content .ui-panel .ui-button {
	margin-left: 0.1em !important;
	margin-right: 0.1em !important; 
}
.ui-panel .ui-button  {
	margin-left:0.25em !important;
	margin-right: 0.25em !important;
}
.ui-widget .ui-widget .ui-button-icon-only{
	font-size: 1.2em;
}

/* Menu.
 */
.ui-menu {
    border: none;
}
.ui-menu .ui-menuitem.ui-menu-parent {
	background-color: 0094ca;
	margin-right: 0.2em;
}
.ui-menu .ui-menu-parent a.ui-submenu-link {
    color: ffffff; /* Default: #00415a */
}
.ui-menu .ui-menu-parent a.ui-submenu-link .ui-icon {
	background-image: url("#{resource['primefaces-ess-theme:images/ui-icons_ffffff_256x240.png']}");
}
.ui-menuitem-text{
    font-size: 1em;
    font-weight: 400;
}

/* Tab menu.
 */
.ui-tabmenu {
    border: none;
	padding-left: 0.5em; 
	padding-right: 0.5em;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    margin-bottom: 0;
}
.ui-tabmenu .ui-tabmenu-nav.ui-widget-header {
    background-color: #00698c; /* Default: #0094ca */
}



/* ESS brand definitions.
 */
.app_header {
	background-color: #00698c;
	width: 100%;
	display: table; 
	top: 0px;
}

.app_header>div {
	display: table-cell; 
	vertical-align: bottom;
}

.app_header form {
	margin-bottom: 0px;
}

.app_header .ui-menubar,
.app_header .ui-tabmenu {
	background-color: #00698c; /* Default: #ffffff */
}


/* ESS logo.
 */
.logo, .ui-widget.logo {
    background-image: url("#{resource['primefaces-ess-theme:brand/logo-white.png']}");
    background-repeat: no-repeat;
    background-position: 1em 50%; 
    padding-left: 11em;
	vertical-align: middle !important;
}
