@font-face {
    font-family: 'open_sansbold_italic';
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot']}");
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot?']}#iefix") format('embedded-opentype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff']}") format('woff'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.ttf']}") format('truetype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.svg']}#open_sansbold_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}

