@font-face {
    font-family: 'open_sansitalic';
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_italic_macroman/OpenSans-Italic-webfont.eot']}");
    src: url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_italic_macroman/OpenSans-Italic-webfont.eot?']}#iefix") format('embedded-opentype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_italic_macroman/OpenSans-Italic-webfont.woff']}") format('woff'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_italic_macroman/OpenSans-Italic-webfont.ttf']}") format('truetype'),
         url("#{resource['primefaces-ess-theme:fonts/opensans/opensans_italic_macroman/OpenSans-Italic-webfont.svg']}#open_sansitalic") format('svg');
    font-weight: normal;
    font-style: normal;

}

